body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown-navigation {
    background-color: #2e2e2e;
    display: inline-block;
    position: relative;
    width: 100%;
    /*align-items: center;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    width: 100%;*/
}

.dropdown-button {
    background-color: #2e2e2e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    margin-left: 16px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #464646;
}

.element {
    padding: 10px 15px;
}

span {
    display: block;
    font-size: 16px;
}

i {
    margin-right: 20px;
}

.show {
    display: block;
}