body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown-navigation {
    background-color: #2e2e2e;
    display: block;
    position: relative;
    width: 100%;
    /*position: fixed;*/
}

/*.dropdown-navigation span {
    align-items: center;
    display: flex;
    line-height: 50px;
    justify-content: center;
    width: 50px;
}*/

.dropdown-button {
    background-color: #2e2e2e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    margin-left: 16px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.dropdown-content a {
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #464646;
}

.dropdown-content a i {
    margin-right: 20px;
}

span {
    font-size: 16px;
}



/* Tips */

.main-container {
    display: block;
    padding: 16px;
}

.main-element {
    background-color: #1e1e1e;
    display: block;
    margin-bottom: 16px;
    padding: 16px;
}

.main-title {
    color: #ffffff;
    display: block;
    font-size: 24px;
}

.main-text {
    color: #ffffff;
    display: block;
    font-size: 16px;
}