body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown-navigation {
    align-items: center;
    background-color: #2e2e2e;
    display: flex;
    height: 56px;
    position: relative;
    width: 100%;
    /*position: fixed;*/
}

.dropdown-button {
    background-color: #2e2e2e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 56px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 56px;
}

.dropdown-title {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
}



.show {
    display: block;
}

.dropdown-content-left {
    background-color: #3e3e3e;
    display: none;
    left: 16px;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    top: 48px;
    z-index: 1;
}

.dropdown-content-left a {
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 16px;
    text-decoration: none;
}

.dropdown-content-left a:hover {
    background-color: #464646;
}

.dropdown-content-left a i {
    margin-right: 20px;
}

.dropdown-content-left a span {
    font-size: 16px;
}

/* Dropdown-Menu right */

.dropdown-button-right {
    background-color: #2e2e2e;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 56px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    width: 56px;
}

.dropdown-content-right {
    background-color: #3e3e3e;
    display: none;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    right: 16px;
    top: 48px;
    z-index: 1;
}

.dropdown-content-right a {
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 16px;
    text-decoration: none;
}

.dropdown-content-right a:hover {
    background-color: #464646;
}

.dropdown-content-right a i {
    margin-right: 20px;
}

.dropdown-content-right a span {
    font-size: 16px;
}



/* Tips */

.main-container {
    display: block;
    padding: 16px;
}

.main-element {
    background-color: #1e1e1e;
    display: block;
    margin-bottom: 16px;
    padding: 16px;
}

.main-title {
    color: #ffffff;
    display: block;
    font-size: 24px;
}

.main-text {
    color: #ffffff;
    display: block;
    font-size: 16px;
}